.albumContainer {
  margin: 20px auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  align-items: start;
  justify-content: space-between;
  gap: 15px;
  padding: 10px;
  margin: 10px 0;
  
}

.albumContainer p {
  font-size: 1.1rem;
  color: #333;
  line-height: 1.6;
  margin: 10px 0;
}

.albumContainer .albumTitle {
  font-weight: bold;
  font-size: 1.3rem;
  color: #333;
}

.albumContainer .albumId {
  font-size: 1rem;
  color: #888;
}

.photoContainer {
  display: flex;
  flex-direction: column;
  max-width:520px;
  flex-wrap: wrap;
  height: 500px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.photos-grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.albumContainer button {
  padding: 8px 15px;
  font-size: 1rem;
  background-color: #78959d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.photoContainer .close-btn {
  width: fit-content;
  align-self: center;
  margin-bottom: 10px;
}
