.displayUserData {
    width: 100%;
   /* // max-width: 800px; */
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f97a;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .displayUserData h1 {
    font-size: 2rem;
    color: #370810;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .displayUserData h2 {
    font-size: 1.5rem;
    color: #41121a;
    margin-top: 20px;
  }
  
  .displayUserData p {
    font-size: 1rem;
    color: #5e242e;
    line-height: 1.6;
    margin: 5px 0;
  }
  
  .displayUserData strong {
    font-weight: bold;
    color: #370810;
  }
  
  .displayUserData a {
    color: #007bff;
    text-decoration: none;
  }
  
  .displayUserData a:hover {
    text-decoration: underline;
  }
  
  .displayUserData .loading, .displayUserData .error {
    text-align: center;
    font-size: 1.2rem;
    color: #e74c3c;
  }
  
  .displayUserData .loading {
    color: #3498db;
  }
  
  .displayUserData .error {
    color: #e74c3c;
  }
  